.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background: rgb(231, 231, 231);

}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;

  .left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    .header-logo {
      h2 {
        margin: 0;
        color: #000;
      }

    }
    .navbar-collapse {
      display: flex;
      .nav {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        a {
          cursor: pointer;
          font-size: 18px;
          color: #000;
        }
      }
    }
  }
  .right {
    ::ng-deep {
      .mat-menu-trigger{
        cursor: pointer;
        border: none !important;
        background: none;
        font-size: 18px;
      }
    }
  }
}

.active {
  background: rgb(252, 252, 252);
}

.btn-group {
  display: flex;
  gap: 40px;
  .logout {
    cursor: pointer;
    background: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    a {
      font-size: 18px;
    }
  }
}
