<nav class="navbar">
  <div class="header_container">
    <div class="left">
      <div class="header-logo">
        <h2>Recipe Book</h2>
      </div>
      <div class="navbar-collapse">
        <div class="nav">
          <a *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/recipes" >Recipes</a>
          <a *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/auth" >Authenticate </a>
          <a *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/shopping-list" >Shopping List</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div *ngIf="isAuthenticated" class="btn-group">
        <button (click)="onLogout()" class="logout"><a>Logout</a></button>
        <button mat-button [matMenuTriggerFor]="menu">Manage</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onSaveData()"><a>Save Data</a></button>
          <button mat-menu-item (click)="onFetchData()"><a>Fetch Data</a></button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
