<nav class="navbar">
  <div class="header_container">
    <div class="left">
      <div class="header-logo">
        <a href="#"><h2>Recipe Book</h2></a>
      </div>
      <div class="navbar-collapse">
        <div class="nav">
          <a href="#" (click)="onSelect('recipe')">Recipes</a>
          <a href="#" (click)="onSelect('shopping-list')">Shopping List</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="btn-group">
        <button mat-button [matMenuTriggerFor]="menu">Manage</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><a href="">Save Data</a></button>
          <button mat-menu-item><a href="">Fetch Data</a></button>
        </mat-menu>
      </div>
    </div>
  </div>
</nav>
