<div class="row">
  <div class="container">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row_div">
        <button type="submit" class="submit-btn">Save</button>
        <button type="button" class="cancel-btn">Cancel</button>
      </div>
      <div class="container_row">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name">
        </div>
      </div>
      <div class="container_row">
        <div class="form-group">
          <label for="imagePath">Image URL</label>
          <input type="text" id="imagePath" formControlName="imagePath">
        </div>
      </div>
      <div class="container_row">
        <img src="" class="img">
      </div>
      <div class="container_row">
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" rows="6" formControlName="description"></textarea>
        </div>
      </div>
      <div class="row_div">
          <input type="text" class="last_input">
          <input type="number" class="number_input">
          <button class="btn_x">X</button>
      </div>
    </form>
  </div>
</div>
