<div class="row">
  <div class="img">
    <img style="max-width: 300px;" [src]="recipe.imagePath" alt="image" class="image">
  </div>
</div>
<div class="row">
  <div class="title">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="btn-group">
    <button mat-button [matMenuTriggerFor]="menu">Manage Recipe</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></button>
      <button mat-menu-item><a href="">Edit Recipe</a></button>
      <button mat-menu-item><a href="">Delete Recipe</a></button>
    </mat-menu>
  </div>
</div>
<div class="row">
  <div class="desc">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <h3>Ingredients</h3>
  <div class="ingredients" *ngFor="let item of recipe.ingredients">
    {{ item.name }} - {{ item.amount }}
  </div>
</div>
